USE [QLNhanSu]
GO
ALTER TABLE [dbo].[NHANVIEN] DROP CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[BANGCAP] DROP CONSTRAINT [FK_BANGCAP_NHANVIEN]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 5/7/2020 3:23:59 PM ******/
DROP TABLE [dbo].[PHONGBAN]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/7/2020 3:23:59 PM ******/
DROP TABLE [dbo].[NHANVIEN]
GO
/****** Object:  Table [dbo].[BANGCAP]    Script Date: 5/7/2020 3:23:59 PM ******/
DROP TABLE [dbo].[BANGCAP]
GO
/****** Object:  Table [dbo].[BANGCAP]    Script Date: 5/7/2020 3:23:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCAP](
	[MABC] [int] NOT NULL,
	[MANV] [int] NULL,
	[TENBC] [nvarchar](50) NULL,
	[LOAIBC] [nvarchar](50) NULL,
	[NGAYCAP] [date] NULL,
	[DVCAP] [nvarchar](max) NULL,
 CONSTRAINT [PK_BANGCAP] PRIMARY KEY CLUSTERED 
(
	[MABC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/7/2020 3:23:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[SDT] [int] NULL,
	[NGAYSINH] [date] NULL,
	[CMND] [int] NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[QUEQUAN] [nvarchar](max) NULL,
	[DANTOC] [nvarchar](50) NULL,
	[MAPB] [int] NULL,
	[SOSOBH] [int] NULL,
	[CHUCVU] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 5/7/2020 3:23:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPB] [int] NOT NULL,
	[TENPB] [nvarchar](max) NULL,
	[TRGPB] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MAPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BANGCAP] ([MABC], [MANV], [TENBC], [LOAIBC], [NGAYCAP], [DVCAP]) VALUES (1345, 3, N'Tài chính', N'Giỏi', CAST(N'2018-05-06' AS Date), N'Học VIện Tài Chính')
INSERT [dbo].[BANGCAP] ([MABC], [MANV], [TENBC], [LOAIBC], [NGAYCAP], [DVCAP]) VALUES (1365, 2, N'Ngân hàng', N'Khá', CAST(N'2017-03-04' AS Date), N'Học Viện Ngân Hàng')
INSERT [dbo].[BANGCAP] ([MABC], [MANV], [TENBC], [LOAIBC], [NGAYCAP], [DVCAP]) VALUES (1435, 1, N'CNTT', N'Giỏi', CAST(N'2016-01-01' AS Date), N'Học Viện Kỹ Thuật Quân Sự')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [DIACHI], [SDT], [NGAYSINH], [CMND], [GIOITINH], [QUEQUAN], [DANTOC], [MAPB], [SOSOBH], [CHUCVU]) VALUES (1, N'Đỗ Việt Anh', N'Ninh Bình', 987654324, CAST(N'1999-11-06' AS Date), 123456789, N'nam', N'Thái Bình', N'Kinh', 1, 13453, N'Trưởng phòng')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [DIACHI], [SDT], [NGAYSINH], [CMND], [GIOITINH], [QUEQUAN], [DANTOC], [MAPB], [SOSOBH], [CHUCVU]) VALUES (2, N'Lê Thanh Độ', N'Bà Rịa - Vũng Tàu', 365515904, CAST(N'1998-11-12' AS Date), 157894657, N'nam', N'Bà Rịa - Vũng Tàu', N'Kinh', 2, 23464, N'Kế Toán')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [DIACHI], [SDT], [NGAYSINH], [CMND], [GIOITINH], [QUEQUAN], [DANTOC], [MAPB], [SOSOBH], [CHUCVU]) VALUES (3, N'Bùi Bằng Dương', N'Khánh Hòa', 392263019, CAST(N'1999-04-05' AS Date), 146257895, N'nữ', N'Khánh Hòa', N'Kinh', 3, 25664, N'Trưởng phòng')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [TRGPB]) VALUES (1, N'Phòng hành chính', N'Đỗ Việt Anh')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [TRGPB]) VALUES (2, N'Phòng tài chính', N'Phạm Văn Tùng')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [TRGPB]) VALUES (3, N'Phòng Maketing', N'Bùi Bằng Dương')
ALTER TABLE [dbo].[BANGCAP]  WITH CHECK ADD  CONSTRAINT [FK_BANGCAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BANGCAP] CHECK CONSTRAINT [FK_BANGCAP_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([MAPB])
REFERENCES [dbo].[PHONGBAN] ([MAPB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
